{#<nav class="navbar navbar-expand-lg d-flex space-between navbar-light bg-light px-2 py-0 fixed-top">#}
{#    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">#}
{#        <div class="logo">#}
{#            <img src="{{ asset('upload/defaultsImages/cropped-logo-musee-vodou.png') }}" alt="" style="height : 50px">#}
{#        </div>#}
{#        <div class="d-flex">#}
{#            <div id="search" class="p-1">#}
{#                <form class="d-flex">#}
{#                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#                    <button class="btn btn-outline-success" type="submit">Search</button>#}
{#                </form>#}
{#            </div>#}

{#        </div>#}
{#        <div class="d-flex justify-content-right">#}
{#            <div class="d-flex">#}
{#                <div class="user_profil mx-2">#}
{#                    <a class="nav-link" href="#" title="Mon profil">#}
{#                        <span>#}
{#                            {% if app.user %}#}
{#                                {{ user.firstname|upper }} {{ user.lastname|capitalize }}#}
{#                            {% endif %}#}
{#                            <i class="fa-solid fa-user me-1"></i>#}
{#                        </span>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="logout">#}
{#                    <a href="{{ path('app_logout') }}" title="Se déconnecter">#}
{#                        <span><i class="fa-solid fa-arrow-right-from-bracket"></i></span>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}