{% extends "base.html.twig" %}

{% block body %}
    <div class="content_box">
        <h2>Ajouter un Objet</h2>

        <div class="mx-5">
            {% include 'objects/objects/form.html.twig' %}
        </div>
    </div>


{% endblock %}
