{% extends "base.html.twig" %}

{% block body %}
    <div class="content_box">
        {% include 'objects/objects/navbar_objects_link.html.twig' %}


        <div class="mx-4">
            {% include 'objects/objects/form.html.twig' %}
        </div>
    </div>

{% endblock %}

