<div class="d-flex sort_item_toolbar px-2">
    <div>
        <label for="media_form_name" class="d-flex">
            <span class="btn btn-vodou"><i class="fa-solid fa-plus"></i></span>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </label>
    </div>
</div>