<div class="d-flex sort_item_toolbar px-2">
    <div>
        <a href="" title="Ajouter" class="btn">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
    <div>
        <a href="" class="btn" title="Tout supprimer">
            <i class="fa-solid fa-dumpster"></i>
        </a>
    </div>
</div>