.home_box_content {
    margin: 5px 20px;
}
.home_box {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;;
}
.home_box_first {
    background: rgb(138,42,45);
    background: linear-gradient(215deg, rgba(138,42,45,1) 0%, rgba(161,50,54,1) 100%);
}
.home_box_second {
    background: rgb(123,15,164);
    background: linear-gradient(215deg, rgba(123,15,164,1) 0%, rgba(102,14,209,1) 100%);
}
.home_box_third {
    background: rgb(230,169,39);
    background: linear-gradient(215deg, rgba(230,169,39,1) 0%, rgba(252,160,30,1) 100%);
}
