<div class="user_profil d-flex justify-content-between flex-wrap">
    {% if app.user %}
        <a class="p-0 link_underline" href="{{ path('profil') }}" title="Mon profil">
            <span href="" class="login_user_profil">
                {{ app.user.firstname|capitalize|u.truncate(10, '...') }} {{ app.user.lastname|upper|u.truncate(10, '...') }}
            </span>
        </a>
    {% endif %}
    <a class="p-0 link_underline" href="{{ path('app_logout') }}">Se déconnecter<i class="fa-solid fa-arrow-right-to-bracket px-2"></i></a>
</div>