<div class="d-flex sort_item_toolbar">
    {% if is_granted('ROLE_MEMBER') %}
        <div id="extract_csv">
            <a href="{{ path('objects_extract_csv', {idsSearchObjs:idsSearchObjs}) }}" title="Extraire recherche CSV" class="btn btn-vodou">
                <i class="fa-solid fa-file-csv"></i>
            </a>
        </div>
        <div id="extract_xls">
            <a href="{{ path('objects_extract_xls', {idsSearchObjs:idsSearchObjs}) }}" title="Extraire recherche XLS" class="btn btn-vodou">
                <i class="fa-solid fa-file-excel"></i>
            </a>
        </div>
    {% endif %}



{#    <div>#}
{#        <a href="" title="Trier Alphabétique inverse" class="btn">#}
{#            <i class="fa-solid fa-arrow-down-z-a"></i>#}
{#        </a>#}
{#    </div>#}
{#    <div>#}
{#        <a href="" class="btn" title="Trier Numérique">#}
{#            <i class="fa-solid fa-arrow-down-1-9"></i>#}
{#        </a>#}
{#    </div>#}
{#    <div>#}
{#        <a href="" class="btn" title="Trier Numérique inverse">#}
{#            <i class="fa-solid fa-arrow-down-9-1"></i>#}
{#        </a>#}
{#    </div>#}

{#    Boutton de selection des objets#}
{#    <div class="actionSelectedObjects">#}
{#        <a class="btn disabled" href="" title="Exposer" onclick="return confirm('Exposer ces objets ?')">#}
{#            <i class="fa-solid fa-lock-open"></i>#}
{#        </a>#}
{#    </div>#}
</div>