{% extends "base.html.twig" %}

{% block body %}

    <div class="content">
        {% include 'objects/objects/navbar_objects.html.twig' %}

        <div>
            <h3>video</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum esse illo obcaecati sed ullam?
                Consectetur, doloremque dolorum eaque fugit ipsa laborum, nemo perferendis quasi quos soluta suscipit
                veniam voluptas voluptatem?
            </div>
            <div>Aliquam amet asperiores aspernatur dolorem dolores ducimus eveniet exercitationem expedita facere fuga
                fugiat ipsum iusto libero nisi obcaecati optio, pariatur perspiciatis quaerat quisquam quo, quod rerum
                sed sit temporibus voluptatibus.
            </div>
        </div>
    </div>
{% endblock %}