{% extends "base.html.twig" %}

{% block body %}
    <div class="content_box">
        <h2>Ajouter un Ouvrage</h2>

        <div class="mx-2 mx-md-4">
            {% include 'objects/book/form.html.twig' %}
        </div>
    </div>


{% endblock %}
