{% extends "base.html.twig" %}

{% block body %}
    <div class="content_box">
        <h2>{{ book.title }}</h2>

        <div class="mx-5">
            {% include 'objects/book/form.html.twig' %}
        </div>
    </div>


{% endblock %}
