<div class="d-flex sort_item_toolbar">
    <div>
        <a href="" title="Trier Alphabétique" class="btn">
            <i class="fa-solid fa-arrow-down-a-z"></i>
        </a>
    </div>
    <div>
        <a href="" title="Trier Alphabétique inverse" class="btn">
            <i class="fa-solid fa-arrow-down-z-a"></i>
        </a>
    </div>
    <div>
        <a href="" class="btn" title="Trier Numérique">
            <i class="fa-solid fa-arrow-down-1-9"></i>
        </a>
    </div>
    <div>
        <a href="" class="btn" title="Trier Numérique inverse">
            <i class="fa-solid fa-arrow-down-9-1"></i>
        </a>
    </div>

{#    Boutton de selection des objets#}
    <div class="actionSelectedObjects">
        <a class="btn disabled" href="" title="Exposer" onclick="return confirm('Exposer ces objets ?')">
            <i class="fa-solid fa-lock-open"></i>
        </a>
        <a class="btn disabled" href="" title="Supprimer" onclick="return confirm('Etes vous sûr de vouloir supprimer ces articles ?')">
            <i class="fa-solid fa-trash"></i>
        </a>
    </div>
</div>