.navbar_objects i {
    font-size: 21px;
}

/*Custom Input File*/
.custom-file{
    display: none;
}
.custom-file-input {
    display: none;
}


/*Media*/
.card_media {
    border: 1px solid var(--main);
    border-radius: 2px;
    width: 250px;
    display: flex;
    flex-direction: column;
}
.card_media:hover {
    cursor: pointer;
}


/*Video*/




/*File*/