<header style="align-content: center;">
    <b>Vodou Collector</b><br><br><br>
</header>

{% block bodyEmail %}{% endblock %}

<br><br>
<footer style="align-content: center;">
    <a href="https://www.chateau-vodou.com/">Site Internet</a><br>
    <a href="https://www.chateau-vodou.com/la-boutique/">Notre Boutique</a><br>
    <a href="https://www.instagram.com/chateauvodou/">Instagram</a><br>
</footer>